{% extends "admin/base_site.html" %}
{% load static %}
{% block content %}
  <div id="content-main" class="module">
    <h1 style="margin-bottom: 20px;">Reset Password for <strong>{{ user.username }}</strong></h1>

    <form method="post" class="form-inline">
      {% csrf_token %}
      
      <fieldset class="module aligned">
        <div class="form-row">
          <label for="id_new_password">New Password:</label>
          <input type="password" name="new_password" id="id_new_password" class="vLargeTextField" />
        </div>
      </fieldset>

      <div class="submit-row" style="margin-top: 20px;">
        <input type="submit" value="Reset" class="default" />
        <a href="{% url 'admin:banking_system_cbacuser_changelist' %}" 
           class="button cancel-link">Cancel</a>
      </div>
    </form>
  </div>
{% endblock %}