{% extends "admin/base_site.html" %}
{% load static %}
{% block content %}
  <div id="content-main" class="module">
    <h1 style="margin-bottom: 20px;">Revoke Role from <strong>{{ user.username }}</strong></h1>

    <form method="post" class="form-inline">
      {% csrf_token %}
      
      <fieldset class="module aligned">
        <div class="form-row">
          <label for="id_role_id">Role:</label>
          <select name="role_id" id="id_role_id" class="vLargeTextField">
            {% for r in roles %}
              <option value="{{ r.role_id }}">{{ r.role_name }}</option>
            {% endfor %}
          </select>
        </div>
      </fieldset>

      <div class="submit-row" style="margin-top: 20px;">
        <input type="submit" value="Revoke" class="default" />
        <a href="{% url 'admin:banking_system_cbacuser_changelist' %}" 
           class="button cancel-link">Cancel</a>
      </div>
    </form>
  </div>
{% endblock %}
